
			<div id='sidebar' class='nav'>
			<hr />
	
			<h2>MMA Program</h2>  
			<ul>
				<li><a href="{{'/tables/' | relative_url}} ">STCW Tables</a></li>
				<li><a href="{{'/tasks/' | relative_url}} ">NVIC Tasks</a></li>
				<li><a href="{{'/content/faculty.html' | relative_url}}">Faculty</a></li>	
				<li><a href="{{'/content/definitions.html' | relative_url}} ">Definitions</a></li>
			</ul>
	
			<hr />
			<h2>Deck</h2>  
			<ul>
				<li><a href="{{'/content/mtra.html' | relative_url}}">Curriculum</a></li>
		  	<li><a href="{{'/courses/index_MTRA_Courses.html' | relative_url}}">Courses</a></li>
				<li><a href="{{'/assessments/index_deck.html' | relative_url}}"> Assessments</a></li>
				<li><a href="{{'/tasks/MTRA.html' | relative_url}} ">Tasks</a></li>
		
			</ul>
  	
			<hr />
			<h2>Engineering</h2>
			<ul>
				<li><a href="{{'/content/meng.html' | relative_url}}">Curriculum</a></li>
		  	<li><a href="{{'/courses/index_MENG_Courses.html' | relative_url}}">Courses</a></li>
				<li><a href="{{'/assessments/index_engine.html' | relative_url}}">Assessments</a></li>
				<li><a href="{{'/tasks/MENG.html' | relative_url}} ">Tasks</a></li>
			</ul>

			<hr />
			<h2>Common</h2>
			<ul>
				<li><a href="{{'/courses/index_Common_Courses.html' | relative_url}}">Courses</a></li>
				<li><a href="{{'/assessments/index_common.html' | relative_url}}">Assessments</a></li>
				<li><a href="{{'/tasks/common.html' | relative_url}} ">Tasks</a></li>

			</ul>
			<hr />	
			<h3> 
			
			<span style="display:flex; justify-content: space-around; height:30px;">
        {% if page.previous.url %}
        <a  href="{{site.baseurl}}{{page.previous.url}}"><img src="{{site.baseurl}}/assets/nav/prev.svg" width=30></a>
        {% endif %}
        {% if page.next.url %}
        <a href="{{site.baseurl}}{{page.next.url}}"><img src="{{site.baseurl}}/assets/nav/next.svg" width='30'></a>
        {% endif %}
    </span> </h3>
		</div> <!--end nav-->
