
			<div id='sidebar' class='nav'>
			<hr />
	
			<h2>MMA Program</h2>  
			<ul>
				<li><a href="{{'/' | relative_url}} ">STCW Tables</a></li>
				<li><a href="{{'/tasks/index_nvics.html' | relative_url}} ">NVIC Tasks</a></li>
				<li><a href="{{'/content/faculty.html' | relative_url}}">Faculty</a></li>	
				<li><a href="{{'/content/definitions.html' | relative_url}} ">Definitions</a></li>
			</ul>
	
			<hr />
			<h2>Deck</h2>  
			<ul>
				<li><a href="{{'/content/mtra.html' | relative_url}}">Curriculum</a></li>
		  	<li><a href="{{'/courses/index_MTRA_Courses.html' | relative_url}}">Courses</a></li>
				<li><a href="Index - Deck"> Assessments</a></li>
				<li><a href="{{'/tasks/index_deck_tasks.html' | relative_url}} ">Tasks</a></li>
		
			</ul>
  	
			<hr />
			<h2>Engineering</h2>
			<ul>
				<li><a href="{{'/content/meng.html' | relative_url}}">Curriculum</a></li>
		  	<li><a href="{{'/courses/index_MENG_Courses.html' | relative_url}}">Courses</a></li>
				<li><a href="Index - Engine">Assessments</a></li>
				<li><a href="{{'/tasks/index_engineering_tasks.html' | relative_url}} ">Tasks</a></li>
			</ul>

			<hr />
			<h2>Common</h2>
			<ul>
				<li><a href="{{'/courses/index_Common_Courses.html' | relative_url}}">Courses</a></li>
				<li><a href="Index - Common">Assessments</a></li>
				<li><a href="{{'/tasks/index_common_tasks.html' | relative_url}} ">Tasks</a></li>

			</ul>
			<hr />	
			<h3> nextprevlinks() </h3>
		</div> <!--end nav-->
