<nav id='sidebar'>

			<li><p>MMA Program</p>
			<ol>
				<li><a href="{{'/tables/' | relative_url}} ">STCW Tables</a></li>
				<li><a href="{{'/tasks/' | relative_url}} ">NVIC Tasks</a></li>
				<li><a href="{{'/content/faculty.html' | relative_url}}">Faculty</a></li>	
				<li><a href="{{'/content/definitions.html' | relative_url}} ">Definitions</a></li>
			</ol></li> 
	
			<li><p>Deck</p>
			<ol>
				<li><a href="{{'/content/MTRA' | relative_url}}">Curriculum</a></li>
				<li><a href="{{'/courses/MTRA' | relative_url}}">Courses</a></li>
				<li><a href="{{'/assessments/MTRA' | relative_url}}"> Assessments</a></li>
				<li><a href="{{'/tasks/MTRA' | relative_url}} ">Tasks</a></li>	
			</ol></li> 
  	
			<li><p>Engineering</p>
			<ol>
				<li><a href="{{'/content/MENG' | relative_url}}">Curriculum</a></li>
		  	<li><a href="{{'/courses/MENG.html' | relative_url}}">Courses</a></li>
				<li><a href="{{'/assessments/MENG.html' | relative_url}}">Assessments</a></li>
				<li><a href="{{'/tasks/MENG' | relative_url}} ">Tasks</a></li>
			</ol></li>

			<li><p>Common</p>
			<ol>
				<li><a href="{{'/courses/common' | relative_url}}">Courses</a></li>
				<li><a href="{{'/assessments/common' | relative_url}}">Assessments</a></li>
				<li><a href="{{'/tasks/common' | relative_url}} ">Tasks</a></li>
			</ol></li>
	
			<li style="display:flex; justify-content: space-around; height:30px;">
        <p>
        {% if page.previous.url %}
        <a  href="{{site.baseurl}}{{page.previous.url}}"><img src="{{site.baseurl}}/assets/nav/prev.svg" width='30'></a>
        {% endif %}
        {% if page.next.url %}
        <a href="{{site.baseurl}}{{page.next.url}}"><img src="{{site.baseurl}}/assets/nav/next.svg" width='30'></a>
        {% endif %}
        </p>
    </li>

</nav> <!--end nav-->
