---
layout: page
---

{% assign assessments = site.assessments | where: "category",  page.category |  sort: "number"  %}


<table class='sortable'>
<tr>
<th  style='text-align:center'>No.</th> 
<th>Assessment</th>
<th>Description</th>
<th style='text-align:center'>Location</th>
<th style='text-align:center'>Status</th>
</tr>

{% for assessment in assessments %}
{% if assessment.number != 'nil' %}
<tr>
<td  style='text-align:center'>{{forloop.index}}.</td> 
<td><a href='{{ assessment.url | absolute_url}}'>{{assessment.number}} </a></td> 
<td>{{assessment.title}} </td>
<td  style='text-align:center'> 
<a href='{{site.baseurl}}/courses/{{assessment.cnum}}'>{{assessment.cnum | replace: "-", "&#8209;" }}</a>
</td>
<td><b>{{assessment.status}}</b></td>
{% endif %}
{% endfor %}

</table>
