---
layout: page
---

{% assign assessments = site.assessments | where: "category",  page.category |  sort: "number"  %}


<table class='sortable assessments'>
<tr>
<th>No.</th> 
<th>Assessment</th>
<th style='text-align:left'>Description</th>
<th >Location</th>
<th>Status</th>
</tr>

{% for assessment in assessments %}
{% if assessment.number != 'nil' %}
<tr>
<td>{{forloop.index}}.</td> 
<td><a href='{{ assessment.url | absolute_url}}'>{{assessment.number | replace: "-", "&#8209;" }} </a></td> 
<td style='text-align: left;'>{{assessment.subtitle}} </td>
<td> 
<a href='{{site.baseurl}}/courses/{{assessment.cnum}}'>{{assessment.cnum | replace: "-", "&#8209;" }}</a>
</td>
<td><b>{{assessment.status}}</b></td>
{% endif %}
{% endfor %}

</table>
