---
layout: page
---

{% assign courses = site.courses | where_exp: "course", "course.major == page.major and course.cnum != nil" | sort: "cnum"  %}


<table class='sortable courses'>

<tr>
<th style='text-align:center'>No.</th> 
<th style='text-align:center'>Course Number</th>
<th>Course Name</th>
</tr>

{% for course in courses %}
<tr>
<td style='text-align:center'>{{forloop.index}}.</td> 
<td style='text-align:center'> <a href='{{ course.url | relative_url}}'>{{course.cnum}}</a></td> 
<td>{{course.subtitle}}</td>
{% endfor %}

</table>


