
/*
Original design: Basic Reader (reversed) (v2.0 - Sep 11, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/basic-reader/
*/

* {
	margin: 0;
	padding: 0;
}

body {
	color: #303030;
	font: 92% Georgia, "Times New Roman", serif;
	line-height: 1.5em;
}


a {
	color: #972323;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 6px 0;
}

blockquote {
	padding-left: 2em;
}

ul, ol, dl {
	margin-left: 1em;
}

ol ol li {
	list-style-type: lower-alpha;
	margin-left: .5em;
}

h1 {
	color: #972323;
	font-size: 2em;
	margin: .5em 0;
}

h1 a {
	color: #972323;
	font-weight: 400;
	text-transform: none;
}

h2 {
	font-size: 1.6em;
	color: #2380a0;
}

h1, h2 {
	font-weight: 400;
	line-height: 1.2;
}

h3 {
	font-size: 1.3em;
	margin: 20px 0 2px 0;
	color: #2380a0;
}

h4 {
	font-weight: bold;
}

.timestamp {
	float: left;
	width: 30%;
}

.credits {
	float: left;
	text-align: right;
}

.credits a {
	color: #777;
}


.blue {
	color: #2380a0;
}

.ten {
	width: 10%;
}

.twenty {
	width: 20%;
}

.thirty {
	width: 30%;
}

.fourty {
	width: 40%;
}

.fifty {
	width: 50%;
}

.sixty {
	width: 60%;
}

.seventy {
	width: 70%;
}

.hide {
	display: none;
}

.warning {
	background-color: pink !important;
}



.kupNo {
	float: left;
	color: #2380a0;
	margin-right: 4pt;
}

ol li p {
	margin: 0;
}

li ol, ol ul {
	margin-bottom: 0;
}

.rstar {
	float: right;
	margin-top: 2px;
} /*-- used for new and mod images */

dt {
	font-style: italic;
	font-weight: bold;
}

dd {
	margin-left: 2em;
}

/* Tooltip container */

.tooltip {
	position: relative;
	display: inline-block;
	font-style: italic;
}

/* Tooltip text */

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
	visibility: visible;
}

@media print {
	body {
		background: unset;
		color: black;
	}
	
	#nav, .credits {
		display: none;
	}
	
	
	
	#content {
		width: 800px;
	}
	
	h1, h2, a {
		color: black;
	}
	
	h1 {
		page-break-before: always;
	}
	
	table, th, td {
		border: .5pt solid black;
	}
	
	table a {
		font-weight: bold;
	}
}
/* highlight assessment guideline*/

*:target {
	animation: hilite 1.5s;
}
@keyframes hilite {
0% {
	background: transparent;
}

10% {
	background: #BACDFF;
}

100% {
	background: transparent;
}
}