body {
  min-height: 100vh;
  max-width: 850px;
  margin: 0 auto
 }

header {
  display: flex;
  align-items: center;
}

.logo {
  margin: 1rem;
  margin-bottom:0;  
  flex: 0 0 150px;
  text-align:center;
}

.logo img {width:100px;}

.page-titles {
 flex:1;
 }

main{
   display:flex;
}


article {flex: 1;}



footer {
  flex:1;
  padding: 1rem;
}
