.sidebar {
  flex: 150px 0;
  padding: 1rem;
  list-style: none;
  text-align: center;
}

.sidebar > li {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border-bottom: 2px solid silver;
}

.sidebar ol {
  list-style: none;
  margin: 0;
  
}

.sidebar > li > ol > li {
  font-size: 16px;
  font-weight: normal;

}

.sidebar > li:last-child {
  border: none;
}

