.sidebar {
   margin: 1rem;
  list-style: none;
  text-align: center;
  width:150px;
}

.sidebar li {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid silver;
}

.sidebar menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar menu menu{ 
padding: 0 0 6px 0;
margin:6px;
}

.sidebar  li  li {
  font-size: 16px;
  font-weight: normal;
  margin: auto;
  border-bottom: none;

}

.sidebar menu li:last-child {
  border: none;
}
@media print {
.sidebar{
 width:0;
}
}
